{% extends 'base.html' %}
{% block title %}{{meteor.name}}{% endblock %}

{% block content %}
<div>
    <h2>{{meteor.name}}</h2>
    <a href="{% url 'meteorites:detail_class' meteor.recclass_id_id %}">{{meteor.recclass_id}}</a>
    <p>Масса : {{meteor.mass}} гр.</p>
    <p>Год падения : {{meteor.year}} г.</p>
    <p>Статус : {{meteor.fall}}</p>
    <p>Координаты : ({{meteor.reclat}} , {{meteor.reclong}})</p>
    <a class="btn btn-success mr-2" href="{% url 'meteorites:change_meteorite' meteor.meteorite_id %}" role="button">Изменить</a>
     <form action="{% url 'meteorites:delete_meteorite' meteor.meteorite_id %}" method="POST">
         {% csrf_token %}
            <button class="btn btn-danger" type = "submit">Удалить</button>
     </form>
</div>
    {% endblock %}