{% extends 'base.html' %}
{% block title %}Список метеоритов{% endblock %}

{% block content %}

    {% if meteorites_list %}
<ul class="list-group">
        {% for meteor in meteorites_list %}
    <a class="list-group-item list-group-item-action text-primary py-2" href="{% url 'meteorites:detail_met' meteor.meteorite_id%}">{{meteor.name}}</a>
        {% endfor %}
    {% else %}
        Данные не найдены
</ul>
    {% endif %}
<nav class="d-flex justify-content-center my-3" aria-label="Page navigation example">
    {% if pages %}
  <ul class="pagination">
      {% for page in pages %}
    <li class="page-item {{page.class}}"><a class="page-link" href="{% url 'meteorites:meteorites_list' %}?page={{page.page}}">{{page.name}}</a></li>
      {% endfor %}
  </ul>
    {% endif %}
</nav>
{% if user.is_authenticated %}
<a class="btn btn-success" href="{% url 'meteorites:add_meteorite' %}" role="button">Добавить</a>
{% endif %}

{% endblock %}