<!doctype html>
<html lang="ru">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% block link%}{% endblock %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Метеориты{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid px-0">
    <a class="navbar-brand" href="{% url 'meteorites:meteorites_list' %}">Метеориты NASA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'meteorites:meteorites_list' %}">Метеориты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'meteorites:classes_list' %}">Классы метеоритов</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
        <h4 class="text-white mr-3">{{ user.username }}</h4>
        <a class="btn btn-success" href="{% url 'logout' %}" role="button">Log out</a>
      {% else %}
        <a class="btn btn-success mr-2" href="{% url 'login' %}" role="button">Log in</a>
        <a class="btn btn-success" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
      {% endif %}
    </div>
  </div>
</nav>
{% block content%}{% endblock %}

</body>
</html>